# Environments
.env
venv/
env/

# Python
__pycache__/
*.pyc

# OS Files
.DS_Store

# Data & Cache (Project 02 Caching)
data/
*.csv

# Build Artifacts
# Note: Be careful with *.txt if you want to keep README.txt 
# or other documentation.
*.txt